/* Implementation of Geologica Font */
/* Setting up the Geologica font as a font face for the component*/
@font-face {
    font-family: 'Geologica';
    src: url('../../../public/fonts/geologicaStatic/Geologica-Bold.ttf') format('geoBold'),
         url('../../../public/fonts/geologicaStatic/Geologica-Regular.ttf') format('geoReg'),
         url('../../../public/fonts/geologicaStatic/Geologica-Light.ttf') format('geoLight');
}

/* Creating a class to link the stylesheet with the component */
.PageNotFound {
    font-family: 'Geologica', sans-serif;
    background-image: url("../../../public/images/pagenotfound.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}