@font-face {
    font-family: 'Geologica';
    src: url('../../../public/fonts/geologicaStatic/Geologica-Bold.ttf') format('geoBold'),
         url('../../../public/fonts/geologicaStatic/Geologica-Regular.ttf') format('geoReg'),
         url('../../../public/fonts/geologicaStatic/Geologica-Light.ttf') format('geoLight');
}

.Register {
    font-family: 'Geologica', sans-serif;
}