@import url('../../assets/styles/index.css');

.LoginImage {
    font-family: 'GeoReg', sans-serif;
    background-image: url('../../../public/images/loginImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}